.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.table {
  border-collapse: collapse;
  margin: 1rem;
}
.table th,
.table td {
  padding: 1rem;
  border: 1px solid #ccc;
}
